<div class="social">
  <div>
    <p class="textWelcome">Bienvenidos a nuestro sistema de facturacion. Puede ingresar para manejar sus boletas de
      "Nombre empresa" </p>

  </div>
  <div class="contact">
    <h5>Puede contactarnos por</h5>

    <a href=""> <img src="../../../assets/images/facebook.png" alt="" srcset=""></a> &nbsp;
    <a href=""> <img src="../../../assets/images/instagram.png" alt="" srcset=""> </a> &nbsp;
    <a> <img src="../../../assets/images/gmail.png"> encabojuan@gmail.com &nbsp;</a>
    <a> <img src="../../../assets/images/whatsap.png"> 011 - 2983-402258&nbsp;</a>





  </div>



  <div class="wrapper-image">
    <img class="img-fluid img-welcome" src="../../../assets/images/pngwing.com.png" alt="">

  </div>
  <hr>
  <p>
    &copy;2023/2024 Company empresa, Inc. All rights reserved.
  </p>

</div>
