<div class="padre">

  <p class="textWelcome">Bienvenidos a nuestro sistema de facturacion. Puede ingresar para manejar sus boletas de "Nombre empresa" </p>
  <span class="contact">
  <h5>Puede contactarnos por</h5>

  <a href=""> <img src="../../../assets/images/facebook.png" alt="" srcset=""></a> &nbsp;
  <a href=""> <img src="../../../assets/images/instagram.png" alt="" srcset=""> </a> &nbsp;
  <i class="fa-solid fa-envelope"></i> encabojuan@gmail.com &nbsp;
  <i class="fa-sharp fa-solid fa-phone"></i> 2983-2983402258





</span>


<div class="wrapper-image">
  <img class="img-fluid img-welcome" src="../../../assets/images/pngwing.com.png" alt="">

</div>

</div>
