
img {
  height: 500px;
}
.carousel {
  width: 95%;
  margin: auto;
}
.carousel-caption {
  color: black;
}
.carousel-caption h2 {
  background-color: #099CE0;
  color: white;
}
.carousel-caption p {
  color: white;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.294);
}
