<div class="wrapperLogin-Register">
  <div class="wrapper-social">
    <app-welcome></app-welcome>
  </div>

  <div class="wrapper-form">
    <form (ngSubmit)="register()" [formGroup]="registerUser">
      <br>

      <h5><img src="../../../assets/images/useradd.png" alt=""> Registrarse</h5>
      <br>
      <br>


      <label for=""> <img src="../../../assets/images/email.png" alt="">  Email</label>
      <input type="email" placeholder="Ingresar Email" formControlName="email">
      <br>
      <br>

      <label for="">  <img src="../../../assets/images/candado.png" alt=""> Contraseña</label>

      <div class="password-container">
        <input [type]="inputType" class="passwordIn" placeholder="Ingresar Contraseña" formControlName="password">
        <img [src]="iconSrc" (click)="toggleInputType()" alt="Password Toggle" class="imgEye">
      </div>
      <br>
      <br>

      <label for=""><img src="../../../assets/images/candado.png" alt=""> Repetir Contraseña</label>

      <div class="password-container">
        <input [type]="inputType" class="passwordIn" placeholder="Ingresar Contraseña" formControlName="repeatPassword">
        <img [src]="iconSrc" (click)="toggleInputType()" alt="Password Toggle" class="imgEye">
      </div>
      <br>
      <br>
      <input type="submit" value="Registrarse" class="btnRegister">

      <div class="optionsForm">

        <div class="linkNavigation">
          <button class="" [routerLink]="['/login']"> Volver al Login</button>
        </div>
        <hr>

      </div>


    </form>

  </div>
</div>
