<div class="wrapperLogin-Register">
  <div class="wrapper-social">
    <app-welcome></app-welcome>
  </div>

  <div class="wrapper-form">
    <form action="#">
      <br>

      <h5><i class="fa-sharp fa-solid fa-user-plus"></i>  Registrarse</h5>
      <br>
      <br>


      <label for=""> <i class="fa-solid fa-envelope"></i> Email</label>
      <input type="email">
      <br>
      <br>

      <label for=""> <i class="fa-sharp fa-solid fa-lock"></i> Contraseña</label>

      <div class="password-container">

        <input [type]="inputType">
        <i class="fas colorEye" [ngClass]="{'fa-eye': !showPassword, 'fa-eye-slash': showPassword}"
          (click)="toggleInputType()"></i>
      </div>
      <br>

      <label for=""> <i class="fa-sharp fa-solid fa-lock"></i> Repetir Contraseña</label>

      <div class="password-container">

        <input [type]="inputType">
        <i class="fas colorEye" [ngClass]="{'fa-eye': !showPassword, 'fa-eye-slash': showPassword}"
          (click)="toggleInputType()"></i>
      </div>
      <br>
      <input type="submite" value="Registrarse" class="btnRegister">

      <div class="optionsForm">

        <div class="linkNavigation">
          <button class="" [routerLink]="['/login']"> Volver al Login</button>
        </div>
        <hr>

      </div>


    </form>

  </div>
</div>
