<div class="card">
  <div class="head">
    <h5>Servicio de Vigia Motor</h5>
  </div>
  <div class="body">
    <section aria-label="Newest Photos">

      <div class="carousel" data-carousel>

        <button class="btn prev" data-carousel-btn="prev"><i class="fa-solid fa-arrow-left"></i></button>
        <button class="btn next" data-carousel-btn="next"><i class="fa-solid fa-arrow-right"></i></button>

        <ul data-slides>
          <li class="slide" data-active>
            <img src="../../../../assets/images/cardvigia4.webp">
          </li>

          <li class="slide">
            <img src="../../../../assets/images/cardvigia2.webp">
          </li>

          <li class="slide">
            <img src="../../../../assets/images/cardvigia3.webp">
          </li>

          <li class="slide">
            <img src="../../../../assets/images/cardvigia1.webp">
          </li>

          <li class="slide">
            <img src="../../../../assets/images/cardvigia5.jpg">
          </li>
        </ul>

      </div>

    </section>
  </div>
  <div class="footer">
    <p><b>VIGIA</b> de motor avisa cuando la temperatura se eleva a niveles críticos o que la presión de aceite
      disminuya peligrosamente </p>
    <button>Ver más</button>
  </div>
</div>
