<div class="card">
  <div class="head">
    <h5>Servicio de Viesa</h5>
  </div>
  <div class="body">
    <section aria-label="Newest Photos">

      <div class="carousel" data-carousel>

        <button class="btn prev" data-carousel-btn="prev"><i class="fa-solid fa-arrow-left"></i></button>
        <button class="btn next" data-carousel-btn="next"><i class="fa-solid fa-arrow-right"></i></button>

        <ul data-slides>
          <li class="slide" data-active>
            <img src="../../../../assets/images/viesacamion.png">
          </li>

          <li class="slide">
            <img src="../../../../assets/images/viesatecho.jpg">
          </li>

          <li class="slide">
            <img src="../../../../assets/images/viesainterior.jpg">
          </li>

          <li class="slide">
            <img src="../../../../assets/images/viesa3.webp">
          </li>

          <li class="slide">
            <img src="../../../../assets/images/tracc.jfif">
          </li>
        </ul>

      </div>

    </section>
  </div>
  <div class="footer">
    <p><b>VIESA</b> es un sistema de enfriamiento ecológico capaz de reducir la temperatura de nuestra cabina</p>
    <button>Ver más</button>
  </div>
</div>
