<div class="wrapper">

  <div class="submenu">
    <div class="searchTicket">
      Buscar Por
      <select >
          <option value="">
            Fecha
        </option>
        <option value="">
          Costo
      </option>
      </select>
      <input type="text">
    </div>
    <ul>
      <li>Mis Facturas</li>
      <li>
          <ul>
            <li>FATURA</li>
            <li>FATURA</li>
            <li>FATURA</li>
            <li>FATURA</li>
            <li>FATURA</li>
            <li>FATURA</li>
            <li>FATURA</li>
            <li>FATURA</li>
            <li>FATURA</li>
            <li>FATURA</li>


          </ul>
      </li>
      <li>Nueva Factura</li>
    </ul>

  </div>
  <div class="detail">
    <div class="orden">

     <span>

     Ordenar por
        <select name="" id="">
          <option value="" selected>Valor</option>
        </select>
      </span>
      <span>
        <button>Descargar </button>
      </span>
    </div>
    <h1>Factura Nmro 39293020 </h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum necessitatibus odio saepe rem fugiat sequi minima, sint doloribus pariatur, vero libero deserunt possimus dolorum recusandae. Explicabo omnis eius porro magnam.</p>


        <p>Total:$ 40202</p>
    </div>
</div>
