<div class="row banner">
  <app-carrousel-home></app-carrousel-home>
</div>
<h2></h2>
<div class="wrapper">

  <div class="wrapper-services">
    <h3 >Nuestros servicios</h3>
    <div class="card">
      <app-card-viesa></app-card-viesa>
    </div>
    <div class="card">
      <app-card-vigia></app-card-vigia>
    </div>
    <div class="card">
      <app-card-viesa></app-card-viesa>
    </div>
    <div class="card">
      <app-card-viesa></app-card-viesa>
    </div>
    <div class="card">
      <app-card-viesa></app-card-viesa>
    </div>
    <div class="card">
      <app-card-viesa></app-card-viesa>
    </div>

  </div>
  <div class="wrapper-notices">
    <h3>Ultimas Noticias</h3>
    <app-notices></app-notices>
    <hr>

  </div>
</div>
