@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@300&family=Montserrat:ital,wght@1,100&family=PT+Sans:ital@1&display=swap');
.colorEye {
  color: #344C66 !important;
}
/*INPUTS FOCUS*/

.wrapperLogin-Register .wrapper-form form input:focus{
  outline: none;
}
/*INPUTS 100%*/
.wrapperLogin-Register .wrapper-form form input {
  box-shadow: 10px 10px 19px -8px rgba(0,0,0,0.75);

  width: 100%;
  border: none;
  color:#344C66;
  height: 35px;
  font-family:'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
  /* INPUT SUBMITE LOGIN (BUTTON LOGIN) %*/

.wrapperLogin-Register .wrapper-form form input[type="submit"] {
  width: 200px;
  height: 40px;
  margin-top: 10px;
  background-color: #29ABE2;
  border: none;
  font-size: 35px;
  color: white;
  box-shadow: 10px 10px 19px -8px rgba(0,0,0,0.75);
  text-shadow: -2px 4px 5px rgba(0,0,0,0.6);
  border-radius: 2.5px;
  font-family: 'Dongle', sans-serif;



}
label {
  width: 100%;
  font-size: 15px;
  text-shadow: -2px 4px 5px rgba(0,0,0,0.6);

  display: inline;


}
label img {
  width: 10px;
  margin-top: -5px;
  height: 10px;
}
/*FORM  */
.wrapperLogin-Register .wrapper-form form{
  color: white;
}

/*DIV CONTAINER INPUT PASSWORD AND BUTTON CHANGE TYPE */
.password-container{
  width: 400px;
  display: flex;
  flex-direction: row;
}
.password-container input[type="password"],
.password-container input[type="text"]{
  width: 100%;
  box-sizing: border-box;
}
.imgEye{
  background-color: rgb(253, 253, 253);
  width: 7px;

}



.optionsForm{
  margin-top: 5px;
  display: flex;
  flex-direction: column;

}
.optionsForm div {
  width: 100%;
  text-align: left;
  margin-top: 5px;


}
.optionsForm div  {
  width: 100%;
  text-align: center;
  text-shadow: -2px 4px 5px rgba(0,0,0,0.6);

}
.optionsForm .linkNavigation button {
  float: right;
  text-align: center;
  margin-top: 10px;
  background-color: #29ABE2;
  width: 150px;
  color:white;
  border: none;
  box-shadow: 10px 10px 19px -8px rgba(0,0,0,0.75);
  text-shadow: -2px 4px 5px rgba(0,0,0,0.6);
  border-radius: 2.5px ;
  height: 30px;


}

.btnOtherLogin {
  width: 100%;
  border: none;
  box-shadow: 10px 10px 19px -8px rgba(0,0,0,0.75);

  text-shadow: -2px 4px 5px rgba(0,0,0,0.6);

}



