<div class="wrapperLogin-Register">
  <div class="wrapper-social">
    <app-welcome></app-welcome>
  </div>

  <div class="wrapper-form">
    <form  (ngSubmit)="login()" [formGroup]="loginUser">
      <br>

      <h5><i class="fa-sharp fa-solid fa-user"></i> Ingresar</h5>
      <br>
      <br>


      <label for=""> <img src="../../../assets/images/email.png" alt="">  Email</label>
      <input type="email" placeholder="Ingresar Email" formControlName="email">
      <br>
      <br>

      <label for=""> <img src="../../../assets/images/candado.png" alt="">  Contraseña</label>
      <div class="password-container">
        <input [type]="inputType" class="passwordIn" placeholder="Ingresar Contraseña" formControlName="password">
        <img [src]="iconSrc" (click)="toggleInputType()" alt="Password Toggle" class="imgEye">
      </div>
      <br>


      <input type="submit" value="Entrar">


      <div class="optionsForm">
        <div>
          <a href="#">Recuperar contraseña</a>
        </div>
        <div class="linkNavigation">
          <button class="butonRegisterLink" [routerLink]="['/register']" ><i class="fa-sharp fa-solid fa-user-plus"></i> Registrarse</button>
        </div>
        <hr>
        <div>
          <button class="btnOtherLogin" > <i class="fa-brands fa-square-facebook"style="color: #0656e0;"></i> &nbsp;Continuar con Facebook</button>
          <br>
          <br>
          <button class="btnOtherLogin" > <i class="fa-brands fa-google-plus" style="color: #df2626;"></i> &nbsp; Continuar con Google</button>

        </div>
      </div>


    </form>

  </div>
</div>
