/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@300&family=Montserrat:ital,wght@1,100&family=PT+Sans:ital@1&display=swap');


* {
  padding: 0;
  margin: 0;
}
:root {
  --bg-btn-auth: white;
  --color-btn-auth: #344C66;
  --bg-nav: #344C66;
  --color-nav: white;
}

/*
body {
  background: rgb(201, 197, 199);
  background: radial-gradient(circle, rgba(201, 197, 199, 1) 0%, rgba(251, 253, 255, 1) 100%);
}
*/
body::-webkit-scrollbar {
  /* Estilos para navegadores basados en WebKit, como Chrome y Safari */
  background-color: #f2f2f2;
  /* Color de fondo de la barra de desplazamiento */

}

body::-webkit-scrollbar-thumb {
  /* Estilos para el pulgar de la barra de desplazamiento en navegadores basados en WebKit */
  background-color: #1A314Aed;


}

body::-webkit-scrollbar-track {
  /* Estilos para el fondo de la barra de desplazamiento en navegadores basados en WebKit */
  background-color: #344C66;
  padding: 2px;

}


.wrapperLogin-Register {
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.wrapperLogin-Register .wrapper-social {
  background-color: white;
  animation-name: slideInLeft;
  animation-duration: 1s;
  animation-fill-mode: both;
  height: 350px;

}

.wrapperLogin-Register .wrapper-form {
  background-color: #344C66;
  text-align: center;
  height: 350px;
  animation-name: slideInRight;
  animation-duration: 1s;
  animation-fill-mode: both;
  border-top-right-radius: 2.5px;
  border-bottom-right-radius: 2.5px;

}

@media only screen and (max-width: 600px) {
  .wrapperLogin-Register .wrapper-social {
    display: none;
  }


}

@media only screen and (max-width: 1370px) {
  .wrapperLogin-Register .wrapper-social {
    background-color: white;
    width: 500px;

  }

  .wrapperLogin-Register .wrapper-form {
    background-color: #344C66;
    text-align: center;
    height: 300px;
  }
}

@media only screen and (max-width: 1920px) {
  .wrapperLogin-Register .wrapper-social {
    background-color: white;
    height: 550px;

  }

  .wrapperLogin-Register .wrapper-form {
    background-color: #344C66;
    text-align: center;
    height: 550px;
  }

}






@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@300&family=Montserrat:ital,wght@1,100&family=PT+Sans:ital@1&display=swap');



@-webkit-keyframes slideInLeft {
  0% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    visibility: visible;
  }

  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@keyframes slideInLeft {
  0% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    visibility: visible;
  }

  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}




@-webkit-keyframes slideInRight {
  0% {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    visibility: visible;
  }

  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@keyframes slideInRight {
  0% {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    visibility: visible;
  }

  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}


.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
