<div class="wrapper">
  <div class="submenu">
    <ul>
      <li  [routerLink]="['/panelAdmin/panelClients']"><i class="fa-solid fa-users-gear"></i> Clientes</li>
      <li  [routerLink]="['/panelAdmin/panelTickets']"><i class="fa-solid fa-sheet-plastic"></i> Crear Factura</li>
      <li  [routerLink]="['/panelAdmin/panelNotices']"><i class="fa-solid fa-newspaper"></i> Agregar Noticia </li>
      <li  [routerLink]="['/panelAdmin/uploadArch']"><i class="fa-solid fa-image"></i> Cargar Imagenes</li>

    </ul>
  </div>
  <div class="container">
      <router-outlet></router-outlet>
  </div>
</div>
