.wrapper {
  height: 100vh;
  display: flex;
  flex-direction: row;

}
.submenu {
  width: 20%;
  background-color:#1A314A ;
  height: 100%;

}
.container {
  width: 70%;
  height: 100%;
}
.submenu ul {
  width: 100%;
  list-style: none;
  padding: 0;
  margin-top: 25px;
  align-items: center;
  color: white;

}
.submenu ul li{
  background-color: #344C66;
  text-align: center;
  margin-top: 5px;
  padding: 10px;
  cursor: pointer;
  font-weight: 600;
}
.submenu ul li:hover {
  background-color: #1A314A;

}
