:root {
  --bg-btn-auth: white;
  --color-btn-auth: #344C66;
  --bg-nav: #344C66;
  --color-nav: white;
}

.pre_nav {
  display: flex;
  flex-direction: row;
  color: #362E3D !important;
  flex-wrap: wrap;
  background-color: rgb(240, 240, 240);
  height: 200px;
}

.pre_nav .social {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1A314A;
  height: 50px;



}





.pre_nav .social ul {
  padding-left: 0px;
  font-size: 15px;
  margin-top: 20px;
}

.pre_nav .social ul li {
  display: inline-block;
  padding: 5px;
  color: white;
  margin-left: 10px;


}

.pre_nav .social ul li i {
  font-weight: 700;
  font-size: 17px;
}

.pre_nav .search {
  background-color: #1A314A;
  height: 50px;

  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pre_nav .search label {
  color: white;
}

.pre_nav .wrapper-input {
  border: 1px groove gray;
  border-radius: 5px;
  padding-right: 5px;
}

.pre_nav .search .wrapper-input input:focus {
  outline: none;
}

.pre_nav .search input {
  border: none;
}

.wrapper_logo_contact {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background-color: rgb(240, 240, 240);
}


.wrapper_logo_contact .logo {
  border-right: 1.5px groove rgba(37, 37, 37, 0.407);
  text-align: center;
  width: 40%;
}

.wrapper_logo_contact .logo h1 {
  font-size: 20px;
  font-weight: 700;
}

.wrapper_logo_contact .logo h5 {
  font-size: 15px;
}

.wrapper_logo_contact .logo img {
  display: block;
  margin: auto;
  width: 80px;
}

.wrapper_logo_contact .contact {
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper_logo_contact .contact ul li {
  list-style: none;
  margin-top: 15px;
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 1px;
}

.wrapper_logo_contact .contact ul li i {
  font-size: 20px;
}


/* STYLES NAVBAR */

.navbar {
  background-color: var(--bg-nav);
  position: sticky;
  top: 0;
  z-index: 100;
}

/* BOTON OPEN MENU RESPONSIVE*/
.navbar-toggler {
  padding: 7px;
  border: 1px groove white;
  position: absolute;
  left: 50%;
  top: 5px;

}

/* ICON BOTON OPEN MENU RESPONSIVE*/
.navbar-toggler i {
  color: white;
  font-size: 30px;
}

/* BOTON OPEN MENU FOCUS*/
.navbar-toggler:focus {
  border: 2.5px solid white;
  outline: none;
  box-shadow: none;
}

/* LOGO NAVBAR (TEXT)*/
.navbar-brand {
  color: white !important;
  font-weight: 700;
  letter-spacing: 2px;
}

.text-dur {
  display: inline-block;
  animation: moveDur 2s infinite;
}

.text-cor {
  display: inline-block;
  animation: moveCor 2s infinite;
  animation-delay: 1s;
}

/* LINKS NAVIGATION*/
.nav-item a {
  color: var(--color-nav);
  text-transform: uppercase;
  font-weight: 700;
  font-size: 12px;
  letter-spacing: 1px;

}

.navbar-nav .nav-link:active,
.navbar-nav .nav-link:focus {
  color: white;
  /* Cambia el color a tu preferencia */
}

.dropdown-menu {
  height: 50px;
  width: 360px;
  background-color: var(--bg-nav);

}

.dropdown-menu li {
  display: inline-block;
  text-align: center;
}

.dropdown-menu li :hover {
  background-color: transparent;
}



/*ARROW DROPDOWN */
.dropdown-toggle::after {
  display: none !important;
}

/* BUTTONS AUTENTICACION REGISTER AND LOGIN*/
.wrapper-buttons {
  margin-right: 100px !important;
}

/* BUTTONS LOGIN AND REGISTER*/

.btn-auth {
  margin-left: 10px;
  background-color: var(--bg-btn-auth);
  color: var(--color-btn-auth);
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  transition: all 0.3s;
  font-family: Arial, sans-serif;
  font-size: 16px;
  position: relative;
  overflow: hidden;
  height: 30px;


}

.btn-text {
  transition: transform 0.3s;
  position: absolute;
  left: 20px;
}

.btn-icon {
  position: absolute;
  top: 50%;
  left: 100%;
  transform: translate(-170%, -50%);
  transition: left 0.3s;
}

.btn-auth:hover .btn-text {
  transform: translateX(-180%);
}

.btn-auth:hover .btn-icon {
  left: 70%;
}




@media (max-width: 991px) {
  .menu li {
    width: 120px;
    height: 40px;
  }

.dropdown-menu {
  width: 380px;

}

  .menu li a .menu-text {
    display: inline-block;
    transition: transform 0.3s;
  }

  .menu li a i {
    opacity: 0;
    transition: transform 0.3s, opacity 0.3s;
    color: white;
  }

  .menu li :hover .menu-text {
    transform: translateX(-100%);
    opacity: 0;
    display: none;

  }

  .menu li :hover i {
    transform: translateX(50%);
    opacity: 1;
  }
}

@media (min-width: 991px) {
  .pre_nav .search input {
    width: 300px;
    border: none;
  }

  .navbar-brand {
    visibility: hidden;
  }

  .dropdown-menu {

    margin-top: 15px !important;

  }



  .menu li a {
    color: #fff;
    text-decoration: none;
    position: relative;
    transition: transform 0.3s;
  }



  .menu li a .menu-text {
    display: inline-block;
    transition: transform 0.3s;
  }

  .menu li a i {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateY(150%);
    opacity: 0;
    transition: transform 0.3s, opacity 0.3s;
  }

  .menu li a:hover .menu-text {
    transform: translateY(-100%);
    opacity: 0;
  }

  .menu li a:hover i {
    transform: translateY(100%);
    opacity: 1;
    color: white;
    font-size: 15px;
  }

  .btn-auth i {
    color: var(--color-btn-auth) !important;
  }

}





@keyframes moveDur {
  0% {
    transform: translateX(10px);
  }

  50% {
    transform: translateX(15px);
  }

  100% {
    transform: translateX(10px);
  }
}

@keyframes moveCor {
  0% {
    transform: translateX(10px);
  }

  50% {
    transform: translateX(15px);
  }

  100% {
    transform: translateX(10px);
  }
}





.menu_user {
  margin-right: 100px;
}
.user-dropdown {
  position: relative;
  display: inline-block;
  z-index: 1;
}

.user-dropdown-toggle {
  display: none;
}

.user-dropdown-label {
  display: block;
  padding: 10px;
  height: 30px;
  font-size: 16px;
  background-color: white !important;
  display: flex;
  color: var(--color-btn-auth);
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  text-transform: uppercase;
  font-weight: 500;

}

.user-dropdown-menu {
  position: absolute;
  top: 100%;
  left: -45px;
  display: none;
  padding: 10px;
  background-color: var(--bg-nav);
  border: none;
  color: white;
  border-radius: 3px;
  margin-top: 10px;
}

.user-dropdown-item {
  display: block;
  padding: 5px;
  text-decoration: none;
  color: #333;
}

.user-dropdown-toggle:checked + .user-dropdown-label + .user-dropdown-menu {
  display: block;
}
