<header>
  <div class="prenav">
    <div class="col logo">

      <h4>
        <span>DUR</span>
        &nbsp;
        <i class="fa-solid fa-screwdriver-wrench"></i>
        &nbsp;
        <span>COR</span>
      </h4>
    </div>
    <div class="col social">

      <div class="fb-like" data-href="https://www.facebook.com/durquetg/" data-colorscheme="dark" data-width=""
        data-layout="" data-action="" data-size="" data-share="true"></div>

    </div>
    <div class="col search">
      <div class="wrapper-input">
        <input type="text" class="search-input" placeholder="Buscar productos o servicios" list="lista-frutas">
        <button class="search-button"><i class="fa-solid fa-magnifying-glass"></i></button>
        <datalist id="lista-frutas">
          <option value="Focos">
          <option value="Baterias">
          <option value="Servicio al agro">
          <option value="Bobina">
            <!-- Agrega más opciones según sea necesario -->
        </datalist>
      </div>
    </div>

  </div>

  <nav>
    <div class="menu">
      <div class="menu-item">Inicio</div>
      <div class="menu-item">Servicios</div>
      <div class="menu-item">Contacto</div>
      <div class="menu-item">Nosotros</div>
    </div>
    <div class="button-container">
      <div class="button">Ingresar</div>
      <div class="button">Registrarse</div>
    </div>
  </nav>

</header>